        .cursor-pointer {
            cursor: pointer;
        }
        
        #chat-container {
            background-color: aquamarine;
            height: 400px;
            width: 100%;
            overflow-y: scroll
        }
        
        .chat-section {
            display: none
        }
        .offline-status{
            color:red
        }
        .online-status{
            color:green
        }
        .chat-sender{
            text-align: right;
            margin: 10px
            
        }
        .chat-receiver{
            text-align: left;
            margin: 10px

        }
        
        .user-select{
            color: blue;
            background-color: bisque
        }
        .chat-color{
            color: blue;
            font-size: 20px;
            /* background-color: bisque */
        }
        .fa-trash{
            color:red;
        }